
# Channels for WebSockets
channels>=4.0.0,<4.1.0
daphne>=4.0.0,<4.1.0
websockets>=12.0

# ASGI server
uvicorn[standard]>=0.22.0,<0.23.0

asgiref==3.7.2
Django==5.0.2
django-cors-headers==4.3.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
PyJWT==2.8.0
pytz==2024.1
sqlparse==0.4.4
mysqlclient==2.2.4
python-decouple==3.8
Pillow==10.2.0
django-filter==24.1
drf-yasg==1.21.7
gunicorn==21.2.0
whitenoise==6.6.0
python-dotenv==1.0.1
requests==2.31.0
dj-database-url==2.3.0
packaging==24.2
psycopg2-binary==2.9.10
typing_extensions==4.12.2
tzdata==2025.1
google-auth
razorpay
django-environ
python-dateutil
